body {
  width: 90vw;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.container-grid {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px auto;
  padding-top: 10px;
}

.card-body {
  position: relative;
  background-color: #fcefe2;
  width: 200px;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #3636367c;
}

.card-body:hover {
  transition: 0.5s;
  box-shadow: 0px 1px 4px 4px #00000050;
}

a,
h4.card-title {
  text-transform: capitalize;
  text-decoration: none;
  color: #141414;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  padding-left: 10px;
  margin-top: 0;
}

.card-user,
.card-comments,
.card-points,
.card-order {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  padding-left: 10px;
}

.btn-filterMorethan5,
.btn-filterLessthan5,
.btn-home {
  color: #fff;
  border: 2px solid #96005c;
  margin: 0 auto;
  width: calc(50% - 20px);
  background-color: #96005c;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 20px;
  white-space: normal;
}

.btn-filterMorethan5:hover,
.btn-filterLessthan5:hover,
.btn-home:hover {
  border: 2px solid #96005aa6;
  background-color: #960063a6;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
